.container{
    width: 400px;
    height: 100px;
    -webkit-border-radius: 4px;

-moz-border-radius: 4px;

border-radius: 4px;

-webkit-box-shadow: 0px 0px 6px #464646;

-moz-box-shadow: 0px 0px 6px #464646;

box-shadow: 0px 0px 6px #464646;

background-color: #DDDDDD;

padding: 10px;

font-family: Verdana, Geneva, sans-serif;

font-size: 12pt;

color: #888888;

text-align: center;
}